<html>
<head>
	<title>Covid Vaccination Project</title>
</head>
<body>
	<div class="heading">
		<h1 align="center">Welcome to Covid Vaccination Project</h1>
	</div>
	<div class="admin-section">
		<p> ADMINISTRATOR </p>
		<a th:href="@{/admin/login}">Login</a> <br><br>
		<a th:href="@{/admin/register}">Register</a> <br><br>			 
	</div>
	<div class="user-section">
		<p> USER </p>
		<a th:href="@{/user/login}">Login</a> <br><br>
		<a th:href="@{/user/register}">Register</a><br><br>			 
	</div>
</body>
</html>